<ion-header class="ion-no-border py-2 px-3 bg-gradient-to-b from-gray-400" [translucent]="true">
  <ion-toolbar color="primary rounded">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-3 pb-1">
    <p class="text-xl font-bold">{{currentNews && currentNews.title ? currentNews.title : '...'}}</p>
  </div>

  <div class="flex items-center justify-center w-full h-fit px-3 py-3" *ngIf="currentNews">
    <div class="w-full relative flex items-center justify-center">
      <button aria-label="slide backward" class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer" (click)="goPrev()">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
        <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
          <div class="flex flex-shrink-0 relative w-full sm:w-auto" *ngFor="let image of currentNews.media; let i = index">
            <video autoplay muted loop id="myVideo" *ngIf="currentNews.typeMedia[i] === 'video'" controls>
              <source [src]="currentNews.media[0]" type="video/mp4">
            </video>
            <img src="{{image}}" alt="black chair and white table" class="object-cover object-center w-full" *ngIf="currentNews.typeMedia[i] === 'img'"/>
          </div>
        </div>
      </div>
      <button aria-label="slide forward" class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400" (click)="goNext()">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>

  <div class="px-3 py-3" *ngIf="currentNews && currentNews.content" [innerHTML]="currentNews.content"></div>
</ion-content>
