<ion-header class="ion-no-border py-2 px-3 bg-gradient-to-b from-gray-400" [translucent]="true">
  <ion-toolbar color="primary rounded">
    <ion-title>MoMo eXperience</ion-title>
    <ion-buttons slot="end" class="ion-no-padding">
      <ion-button class="ion-no-padding" routerLink="../../profil">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
      </ion-button>
      <ion-button class="ion-no-padding" (click)="menu = !menu">
        <svg *ngIf="!menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <svg *ngIf="menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </ion-button>
      <app-choose-country></app-choose-country>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<aside class="w-64 fixed z-50 h-full transition duration-150 ease-in" aria-label="Sidebar" *ngIf="menu">
  <div class="overflow-y-auto py-4 px-3 rounded-r" style="background-color: #202020">
    <ul class="space-y-2">
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
         <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-300 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
          <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

