<section>
  <label class="pb-3 block text-sm font-medium text-gray-900 dark:text-gray-400">Select the point near you</label>

  <google-map #myGoogleMap height="430px" width="100%" [zoom]="zoom" [center]="center" [options]="options"
              (mapClick)="eventHandler($event,'mapClick')" (mapDblclick)="eventHandler($event,'mapDblclick')"
              (mapDrag)="eventHandler($event,'mapDrag')" (mapDragend)="eventHandler($event,'mapDragend')"
              (mapRightclick)="eventHandler($event,'mapRightclick')"
              (zoomChanged)="eventHandler($event,'zoomChanged')">

    <map-marker #markerElem="mapMarker" *ngFor="let marker of markers" [position]="marker.position"
                [label]="marker.label" [title]="marker.title" [options]="marker.options"
                (mapDrag)="eventHandler($event,'mapDragMarker')" (mapDragend)="eventHandler($event,'mapDragend')"
                (mapClick)="openInfo(markerElem, marker.dataElement)">
    </map-marker>

    <map-info-window [innerHTML]="infoContent"></map-info-window>
  </google-map>
</section>


