<ion-header class="ion-no-border py-2 px-3 bg-gradient-to-b from-gray-400" [translucent]="true">
  <ion-toolbar color="primary rounded">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-3 pb-1 pt-2">
    <p class="text-3xl font-bold">{{currentService ? currentService.title : '...'}}</p>
  </div>

  <div class="px-3 py-3" *ngIf="currentService">
    <div class="max-w-sm flex items-end h-72 bg-yellow-400 bg-no-repeat bg-center rounded border border-gray-200 shadow-md" style="background: linear-gradient(0deg,rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)) fixed, url({{currentService.cover}}) fixed; width: 100%; background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
      <div class="text-center">
        <a>
        <p class="text-base text-center font-normal text-white dark:text-gray-400">
          <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <li>
              <a (click)="menuSelect = -1" class="inline-block p-4 cursor-pointer {{menuSelect === -1 ? 'text-black bg-yellow-400' : 'text-white'}} rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Bref</a>
            </li>
            <li *ngIf="currentService.idFees">
              <a (click)="menuSelect = -2" class="inline-block p-4 cursor-pointer {{menuSelect === -2 ? 'text-black bg-yellow-400' : 'text-white'}} rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Tarifs</a>
            </li>
            <li *ngIf="currentService.idHowTo.length > 0">
              <a (click)="menuSelect = -3" class="inline-block p-4 cursor-pointer {{menuSelect === -3 ? 'text-black bg-yellow-400' : 'text-white'}} rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">How To</a>
            </li>
            <li class="mr-2" *ngFor="let menu of currentService.menu; let i = index">
              <a (click)="menuSelect = i" class="inline-block p-4 cursor-pointer {{menuSelect === i ? 'text-black bg-yellow-400' : 'text-white'}} rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">{{menu}}</a>
            </li>
            </ul>
        </a>
      </div>
    </div>
    <div class="mt-3">
      <div *ngIf="menuSelect === -1" [innerHTML]="currentService.description"></div>
      <app-miniature-fees *ngIf="currentService.idFees && menuSelect === -2" [idFees]="currentService.idFees"></app-miniature-fees>
      <div *ngIf="currentService.idHowTo.length > 0 && menuSelect === -3">
        <ng-container *ngFor="let ht of currentService.idHowTo">
          <br> <app-miniature-how-to [idHowTo]="ht"></app-miniature-how-to>
        </ng-container>
      </div>
      <div *ngIf="menuSelect > 0 && currentService.content[menuSelect] && currentService.content[menuSelect].substring(0, 8) !== 'https://'" [innerHTML]="currentService.content[menuSelect]"></div>
    </div>
  </div>
</ion-content>
